<div class="main_wrapper">
  <div class="header">
    <h1>
      Forgot Password
      <mat-icon>lock_open</mat-icon>
    </h1>
    <button mat-mini-fab color="basic" class="close_button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="forgotForm" class="profile_form">
    <mat-tab-group class="hidden-tab-header" #tabGroup>
      <mat-tab label="First Step">
        <div class="tab_content">
          <p class="title_hint">
            Enter you email and we will send verification code for you
          </p>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="Enter your email"
            />
            <mat-error
              *ngIf="
                forgotForm.get('email')?.hasError('required') &&
                forgotForm.get('email')?.touched
              "
            >
              <span>Plz enter your email</span>
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            class="save_button"
            [disabled]="loading$ | async"
            (click)="onSendEmailPart()"
          >
            <ng-container *ngIf="(loading$ | async) === false">
              Send
            </ng-container>
            <mat-spinner *ngIf="loading$ | async" diameter="20"></mat-spinner>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Second Step">
        <div class="tab_content">
          <p class="title_hint">
            Enter restore code from your email
          </p>
          <mat-form-field>
            <mat-label>Code</mat-label>
            <input
              matInput
              formControlName="code"
              placeholder="Enter your code"
            />
            <mat-error
            *ngIf="
              forgotForm.get('code')?.hasError('required') &&
              forgotForm.get('code')?.touched
            "
          >
            <span>Plz enter your code</span>
          </mat-error>
            <mat-error
            *ngIf="
              forgotForm.get('code')?.hasError('minlength') &&
              forgotForm.get('code')?.touched
            "
          >
            <span>Code has to be 6 digits</span>
          </mat-error>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            class="save_button"
            [disabled]="loading$ | async"
            (click)="onSendRestoreCodePart()"
          >
            <ng-container *ngIf="(loading$ | async) === false">
              Send
            </ng-container>
            <mat-spinner *ngIf="loading$ | async" diameter="20"></mat-spinner>
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Third Step">
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input
            matInput
            formControlName="newPassword"
            placeholder="Enter your New Password"
          />
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Repeat Password</mat-label>
          <input
            matInput
            formControlName="repeatPassword"
            placeholder="Enter your once more"
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="save_button"
          [disabled]="loading$ | async"
          (click)="onSendNewPasswordPart()"
        >
          <ng-container *ngIf="(loading$ | async) === false">
            Send
          </ng-container>
          <mat-spinner *ngIf="loading$ | async" diameter="20"></mat-spinner>
        </button>
      </mat-tab>
    </mat-tab-group>
  </form>

</div>
