$height: 350px;

.main_wrapper {
  padding: 15px 25px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    mat-icon {
      margin-left: 5px;
    }
  }

  .close_button {
    transform: scale(0.7);
  }
}

.item_row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button {
    zoom: 0.7;
  }
}
.title_hint {
  padding: 5px 0px 30px;
}

.profile_form {
  height: $height;
  padding: 25px 0;
}

.profile_form {
  mat-form-field {
    width: 100%;
  }
}

.save_button {
  margin-top: auto;
}

