<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button routerLink="/">
    <mat-icon aria-label="home" >home</mat-icon>
  </button>
  <button mat-button routerLink="/users">
    users
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/auth/login" routerLinkActive="active-link">
    Login
    <mat-icon aria-label="Example home icon">login</mat-icon>
  </button>
  <button mat-button routerLink="/auth/registration" routerLinkActive="active-link">
    Registration
    <mat-icon aria-label="Example home icon">person_add</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
