.users_wrapper {
  padding: 20px;

}
.table_wrapper {
  border: 1px solid black;
}

.header_page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  margin-bottom: 20px;
}

.table {
  width: 100%;
}

.mat-column-id {
  max-width: 30px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
