@import "@angular/material/theming";
@include mat-core();

// Define your custom color palette
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include angular-material-theme($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: lavender;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.profile_modal {
  width: 400px;
}

.expenses_modal {
  max-width: 400px !important;
  height: 480px;
}

.success {
  --mdc-snackbar-container-color: rgb(6, 171, 6);
  --mdc-snackbar-supporting-text-color: white;
}

.error {
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: white;
}

mat-form-field {
  width: 100%;
}


.hidden-tab-header {
  height: 100%;
  mat-tab-header {
    display: none;
  }
  .mat-mdc-tab-body-wrapper {
    height: 100%;

    .tab_content {
      height: 98.5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.google_button_wrapper {
  height: 31px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
