@import "@angular/material/theming";
@include mat-core();

// Define your custom color palette
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include angular-material-theme($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: lavender;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.profile_modal {
  width: 400px;
}

.success {
  --mdc-snackbar-container-color: rgb(6, 171, 6);
  --mdc-snackbar-supporting-text-color: white;
}

.error {
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: white;
}


.hidden-tab-header {
  height: 100%;
  mat-tab-header {
    display: none;
  }
  .mat-mdc-tab-body-wrapper {
    height: 100%;

    .tab_content {
      height: 98.5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
